.bg-image {
    background-image: url('');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    color: var(--third-color);
}


.booking h3 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary-color);
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.booking p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 30px;
    padding-bottom: 50px;
    color: var(--four-color);
}

.form-booking label {
    font-size: 1.3rem;
}


.form-booking .btn{ 
    font-size: 1rem;
    font-weight: bold;
    color: var(--third-color);
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 100px;
}

.form-booking .btn:hover { 
    opacity: 0.8;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

input[type=date] {
    padding: 4px;
}
