.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Modal update info */
.uploadAvatar {
  margin-top: 20px;
  width: 150px;
  text-align: center;
}
.m-l-75-uploadInfo {
  padding-left: 75px;
}
.mb-padding-top {
  margin-top: 20px;
}
.ImgPreview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}
.inputFile-avatar {
  visibility: hidden;
  position: absolute;
}
.UploadAvatar .browse {
  height: 35px;
  width: 104px;
  border-radius: 3px !important;
  background-color: #4d96ff !important;
  border: none;
  color: #fff;
}
.p-tl-info {
  padding-top: 10px;
}
.input-info {
  font-family: Poppins-Medium;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 45px;
  border-radius: 25px;
  padding: 0 15px 0 15px;
}
.p-tl-address {
  padding-top: 30px;
}
.input-address {
  font-family: Poppins-Medium;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 80px;
  border-radius: 25px;
  padding: 15px 15px 0 15px;
}
.p-tl-gender {
  padding-top: 10px;
  padding-left: 20px;
}
.mod-foot-center {
  margin: 0 auto;
}
.mod-foot-center button {
  width: 80px;
}
.mod-foot-center .m-r-15 {
  margin-right: 15px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}