.paginator {
    display: inline-flex;
    margin: 20px 0;
    text-align: center;
}

.currentPage {
    border: 1px solid #444;
    padding: 5px 11px;
    font-weight: 500;
    font-size: 15px;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    margin-right: 5px;
    background-color: #444;
    color: #fff;
}
.pages {
    border: 1px solid #444;
    padding: 5px 11px;
    font-weight: 500;
    font-size: 15px;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    margin-right: 5px;
    background-color: #fff;
    color: #444;
}
.paginator button:hover {
    background: #444;
    color: #fff;
}